.fondo {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.avatar {
    width: 200px;
    border-radius: 50%;
}


/* Para que haga scroll lentamente */

html {
    scroll-behavior: smooth;
}


/* Borde recuadro experiencia laboral */

.bordeExpLab {
    border-width: 3px;
    border-color: rgb(43, 42, 42);
    border-style: solid;
    border-radius: 20px;
}